<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://localhost:8000/auth/users/reset_password_confirm/" method="post">
    {% csrf_token %}
    <input type="hidden" name="token" value="{{token}}">
    <input type="hidden" name="uid" value="{{uid}}">
    <input type="password" placeholder="new password" name="new_password">
    <input type="password" placeholder="retype new password" name="re_new_password">
    <input type="submit" value="Submit">
</form>
</body>
</html>